header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    border-bottom: 2px solid lightgray;
    background-image: linear-gradient(rgb(151, 185, 218), rgb(119, 144, 182));
    color: rgb(45, 46, 107);
}

.sidebar {
    margin-left: 10px;
    border-right: 2px solid lightgray;
    padding: 4px;
}

#city-name {
    border-radius: 5px;
}

#search-btn {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    min-width: 100%;
}

.city-btn {
    display: flex;
    justify-content: center;
    background-color: rgb(173, 200, 212);
    color: black;
    margin-top: 4px;
    min-width: 100%;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 30px;
    font-size: 1.5rem;
    color: gray;

}

.search-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 30px;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.main-card {
    display: flex;
    margin: 3px;
    margin-right: 20px;
    padding: 0.3rem;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 3px 3px 4px lightgray;
    background-image: linear-gradient(rgb(74, 74, 139), rgb(97, 131, 151));
    color: whitesmoke;
    line-height: 2rem;
}

#style {
    font-size: 2rem;
    font-weight: bold;
}

#normal {
    font-size: 1.2rem;
    font-weight: 400;
}

h4 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.cards {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.cards p {
    line-height: 2rem;
}

.cards div {
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 0.3rem;
    padding-right: 4rem;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 3px 3px 4px lightgray;
    background-image: linear-gradient(rgb(74, 74, 139), rgb(97, 131, 151));
    color: whitesmoke;
}

footer {
    display: flex;
    justify-content: center;
    color: gray;
    position: relative;
    margin: 40px;
}
